<div class="row my-3">
  @for (item of [1,2,3,4,5,6]; track $index) {
    <div class="col-md-3 g-2">
      <div class="card card-body-skeleton py-1 px-2">
        <div class="card-body ">
          <h5 class="card-title placeholder-glow py-1">
            <span class="placeholder col-7"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-4"></span>
          </p>
          <div class="d-flex gap-2 justify-content-end placeholder-glow ">
            <span class=" placeholder col-3"></span>
          </div>
        </div>
      </div>
    </div>
  }
</div>

