<div class="container">
  <div class="row my-4">
    <div
      class="col-md-6 gx-3">
      <div
        class="d-flex flex-column align-items-center justify-content-center border border-5 border-dark rounded-4 p-md-5 p-3 ">
        <div class="d-flex flex-column align-items-center  ">
          <h1>Uneix-te a Cromix</h1>
          <p class="text-center">Cromix és la plataforma que et permet crear, gestionar i compartir col·leccions de
            cromos totalment personalitzades, de manera fàcil i accessible. Dissenya les teves pròpies col·leccions,
            defineix les regles d’obtenció dels cromos i viu l’experiència del col·leccionisme en format digital.</p>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-secondary"
                  [routerLink]="'signup'">{{ 'landing.register-button' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 gx-3 landing-container">
      <div class="d-flex justify-content-center landing-image border border-5 border-primary rounded-4 p-5">
      </div>
    </div>
  </div>


  <div class="row bg-dark rounded-4 p-md-5 p-3 my-4">
    <div class="text-center text-light">Cromix t’ofereix una eina flexible i sostenible per donar vida a les teves idees, fomentar la participació i crear comunitat, sense necessitat de coneixements tècnics ni costos elevats.
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button type="button" class="btn btn-primary"
              [routerLink]="'signup'"> {{ 'landing.new-collection-button' | translate }}
      </button>
    </div>
  </div>

  <footer class="row bg-primary rounded-4 p-5 my-4">
    <div class="d-flex justify-content-center gap-md-4 m-1">
      <button type="button" class="btn btn-link text-secondary p-2"><i class="bi-twitter"></i></button>
      <button type="button" class="btn btn-link text-secondary p-2"><i class="bi-tiktok"></i></button>
      <button type="button" class="btn btn-link text-secondary p-2"><i class="bi-facebook"></i></button>
      <button type="button" class="btn btn-link text-secondary p-2"><i class="bi-instagram"></i></button>
    </div>
    <p class="text-center">c 2024</p>
  </footer>
</div>
