@if (cromos() === null) {
  <app-loader></app-loader>
} @else {

  @if (cromos()!.length === 0) {
    <div class="d-flex flex-column justify-content-center align-items-center my-5">
      <h3 class="text-center text-primary mb-4">{{ 'preview-cards.no-cromos' | translate }}</h3>
      <button class="btn btn-secondary" (click)="back()">{{ 'preview-cards.go-back' | translate }}</button>
    </div>
  } @else {
  <h1>{{collection.collection_name}}</h1>
    <div class="deck-container">
      <div class="d-flex justify-content-between">
        <h1>{{ this.route.snapshot.title || '' | translate }}</h1>

        <div class="d-flex gap-2">
          <button class="btn btn-secondary" (click)="newPack()" [disabled]="!packAvailable">Nou sobre</button>

          <button class="btn btn-dark" (click)="back()">Enrere</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <div class="col-12 d-flex justify-content-center align-items-center position-relative">
            <button class="deck" (click)="nextCard()">
              <img [src]="cromos()![index].image" alt="" class="cromo border border-light">
            </button>
          </div>
          <div class="d-flex gap-2 justify-content-center align-items-center ps-4">
            <button class="arr" (click)="previousCard()"><i class="bi-arrow-left mx-4"></i></button>
            <p class="text-center text-primary m-0">{{ index + 1 }} de {{ cromos()!.length }}</p>

            <button class="arr" (click)="nextCard()"><i class="bi-arrow-right mx-4"></i></button>
          </div>
        </div>
        <div class="bg-dark border-dark rounded-3 py-4 px-5 text-light d-flex gap-4 justify-content-between">
          <div>
            <h5 class="">{{'list.title' | translate}}</h5>
            <p class="m-0">{{collection.collection_name}}</p>
          </div>
          <div >
            <h5 class="">{{'list.creator' | translate}}</h5>
            <p class="m-0">{{collection.creator_user}}</p>
          </div>
          <div >
            <h5 class="">{{'list.progress' | translate}}</h5>
            <p class="m-0">{{cromos()?.length}}/{{collection.total_cromos}}</p>
          </div>



        </div>

      </div>

    </div>


    <div class="d-flex overflow-auto my-4 gap-3 pb-2 preview-thumbnails">
      @for (cromo of cromos(); track cromo.id; let i = $index) {
        <div class="thumbnail-container" (click)="goToCard(i)">
          <img [src]="cromo.image" alt="" class="thumbnail border border-light" [class.selected]="i === index">
        </div>
      }
    </div>
  }
}
