.cromo {
  height: 50vh;
  z-index: 9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.cromo:hover {
  transform: translateY(-10px);
}

.deck {
  width: calc(50vh * 0.7);
  height: 50vh;
  background: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 8;
}

i{
  font-size: 4rem;
}
.arr{
  background-color: unset;
  border: unset;
}
