.search-bar {
  max-width: 1000px;
  margin: 0px auto;
  .form-control {
    border-radius: 12px 0 0 12px !important;
  }
  .btn {
    border-radius: 0 12px 12px 0 !important;
  }
}

.list-group-item {
  background-color: black;
  color: white;
  margin: 0.2rem 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.45em;
  padding: 1.2rem 2rem !important;
  *{
    margin: 0;
  }
  .list-header {
    p:first-child {
      font-weight: bold;

    }

    p:nth-child(2) {
      font-size: 0.9rem;
    }

    .btn {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }
}
