<div class="d-flex justify-content-between align-items-center">
  <div><h1>{{ 'home.creator.title' | translate }}</h1></div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'home.common.mode-switch' | translate }}</label>
  </div>
</div>
<div class="row my-3 gap-3">
  @for (collection of collections; track $index) {
    <div class="card col-3">
      <img [src]="'/img/placeholder.jpg'" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ collection.collection_name }}</h5>
        <p class="my-1 p-0">Cromos: {{ collection.size }}</p>
        <p class="my-1">Usuaris: {{ collection.users_connected }}</p>
        <a href="#" class="btn btn-primary mt-3">{{ 'common.buttons.edit' | translate }}</a>
      </div>
    </div>
  } @empty {
    <li>{{ 'homes.creator.empty-list' | translate }}</li>
  }
</div>
<div class="d-flex justify-content-center my-5">
  <div>
    <button class="btn btn-secondary">{{ 'form.buttons.add-collection' | translate }}</button>
  </div>
</div>
