@if (loader) {
  <app-loader></app-loader>
}

<div class="d-flex justify-content-between align-items-center">
  <div><h1>{{ 'home.creator.title' | translate }}</h1></div>
<!--  <div class="form-check form-switch">-->
<!--    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">-->
<!--    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'home.common.mode-switch' | translate }}</label>-->
<!--  </div>-->
</div>
<div class="row my-3">
  @for (collection of collections(); track $index) {
    <div class="col-md-3 g-2">
      <div class="border border-primary p-4 rounded-4">
        <div class="card-body">
          <h5 class="card-title">{{ collection.collection_name }}</h5>
          <p class="my-1 p-0 mb-4">Cromos: {{ collection.total_cromos }}</p>
          <div class="d-flex flex-wrap justify-content-end gap-1">
            <button class="btn btn-dark"
                    (click)="delete(collection.collection_id)">{{ 'common.buttons.delete' | translate }}
            </button>
            <button class="btn btn-primary"
                    (click)="edit(collection.collection_id)">{{ 'common.buttons.edit' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  } @empty {
    <li>{{ 'homes.creator.empty-list' | translate }}</li>
  }
</div>
<div class="d-flex justify-content-center my-5">
  <div>
    <button class="btn btn-secondary" (click)="openModal()">{{ 'form.buttons.add-collection' | translate }}</button>
  </div>
</div>
