<div class="border border-2 border-primary px-2 py-1 rounded-4 card">
  <div class="card-body" (click)="edit(collection.collection_id || '')">
    <h5 class="card-title">{{ collection.collection_name }}</h5>
    <p class="my-1 p-0 mb-4">Cromos: {{ collection.total_cromos }}</p>
    <div class="d-flex flex-wrap justify-content-end gap-1">
      <button class="btn btn-dark"
              (click)="$event.stopPropagation(); delete(collection.id || collection.collection_id)">{{
          'common.buttons.delete' |
            translate
        }}
      </button>
    </div>
  </div>
</div>
