$primary: #6874E8;
$secondary: #CFEE9E;
$dark: #18020C;
$light: #F6F6F6;

@import "bootstrap/scss/bootstrap";

:root {
  //color variables
  --primary:  #6874E8;
  --secondary: #CFEE9E;
  --text: #18020C;
  --light: #F6F6F6;
}
